

/* SHADOW */
/*.backheader {
  background-color: black;
  padding: 1px;
  left: 0px;
  right: 0px;
  width: 70.2%;
  height: 100%;
  margin: auto;
  position: fixed;
  z-index: -1;
}*/

/* left and right edge border for all */
.tablecontainer, .tablesecondcontainer, .topnav, .footer, .footermid, .header {
  border-right: 1px solid black;
  border-left: 1px solid black;
}

/* Header style */
.header {
  background-color: #ffa64d;
  padding: 10px;
  text-align: center;
  max-width: 71%;
  margin: auto;
  border-top: 1px solid black;

}

/* Nav style */
.nav {
  padding: 0px;
  text-align: center;
  max-width: 71%;
  margin: auto;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;

}


.footer, .footermid {
  background-color: #cc6600;
  padding: 0px;
  text-align: center;
  max-width: 71%;
  margin: auto;
  border-bottom: 1px solid black;
  border-top: 1px dotted black;
}
/* Footer style */
.footer {
}

/* Footermiddle style */
.footermid {
  display: none;
  border-bottom: 1px dotted black;
  height: 10px;
}


/* Style the top navigation bar*/
.topnav{
  overflow: hidden;
  background-color: #cc6600;
  font-size: 20px;


}

/* Style the topnav links */
.topnav a {
  float:left;
  /*display: block;*/
  color: white;
  text-align: center;
  padding: 10px 15px;/* top and bottom and righ/left */
  text-decoration: none;

}

/* Change color on hover */
.topnav a:hover {
  background-color: #ff9c33;
  color: black;
  height: auto;
}

.tablecontainer {
    position: static;
    height: auto;
    padding: 0px;
    text-align: center;
    width: 69%;
    margin: auto;
    border-bottom: 1px solid grey;
}

.tablesecondcontainer {
    background-color: #ffb366;
    display: table;
    position: static;
    padding: :10px;
    margin: auto;
    width: 71%;
    border-top: 1px dotted black;
    border-bottom: 1px solid grey;

}


#lefttable, #righttable, #midtable {
    display: table-cell;
    width: 100% ;
    position: static;
    margin:auto;
    background-color: ;
    padding: 20px;
 /* error with value 1 and 100%*/



  }

#lefttable {
  width: 33% ;
  position: static;
  margin:auto;
}

#midtable {
  width: 33% ;
  position: static;
  margin:auto;
}

#righttable {
  width: 33% ;

}


/* Columns lef and right in tablecontainer */
#leftmain, #rightmain {
  display: table-cell;
}

#leftmain {
  width: 50%;
  background-color: #fff3e6;
  color: black;
}

#rightmain {
  width: 20%;
  background: #ffdab3;
  color: black;
  }

.panel-table {
  width: 100%;
  margin:auto;
  background-color:#ffc180;
  border-bottom-color:;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-top-right-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.panelheadingtab {
  width: 100%;
  padding-left: 10px;
  padding-top: 5px;
  margin: auto;
  background-color: #ffa64d;
  border-bottom-color: blue;
  border-top: 0px solid black;
  border-right: 0px solid black;
  border-left: 0px solid black;
  border-bottom: 0px solid #ffa64d;
  border-top-right-radius: 0px;
  border-top-left-radius: 10px;
  color: black;
  text-align: left;
}
.panelbodytab {
  width:100%;
  margin: auto;
  padding-left: 10px;
}
